<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>{{buildid}}</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>D8A87EE6-C534-42F8-920D-A5906C7DAECB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E934F4A-1261-4B03-90A4-D45ACBDFBD40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>059E5B73-E731-4B98-B5FF-80CBD9205AB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>{{createdby}}</string>
	<key>description</key>
	<string>{{description}}</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>{{name}}</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7E934F4A-1261-4B03-90A4-D45ACBDFBD40</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{{name}}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query="{query}"

export PATH=$HOME/.cargo/bin:$HOME/.local/bin:/usr/local/bin:$PATH

if [[ -z $query ]]
then
  result=$({{name}})
else
  result=$({{name}} $query)
fi

code=$?

if [[ $code -eq 0 ]]
then
  subtitile="Success"
else
  subtitile="Failed"
fi

cat &lt;&lt; EOF
{"items": [

    {
        "uid": "{{name}}",
        "title": "$result",
        "subtitle": "$subtitile",
        "arg": "$result",
        "text": {
            "copy": "$result"
        }
    }
]}
EOF
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D8A87EE6-C534-42F8-920D-A5906C7DAECB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Added to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>059E5B73-E731-4B98-B5FF-80CBD9205AB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>059E5B73-E731-4B98-B5FF-80CBD9205AB9</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>7E934F4A-1261-4B03-90A4-D45ACBDFBD40</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>D8A87EE6-C534-42F8-920D-A5906C7DAECB</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>

